.container
  .row
    %h2 Solar Interest Form
  .row
    = bootstrap_form_for(@response) do |f|
      %form.form-horizontal
        .field.form-mobile= f.text_field :name
        .field.form-mobile= f.email_field :email
        .field.form-mobile= f.telephone_field :phone_number, label: 'Phone Number'
        .field.form-mobile= f.number_field :age
        .field.form-mobile= f.text_field :address, label: 'Street Address'
        .field.form-mobile= f.text_field :city
        .field.form-mobile= f.text_field :state
        .field.form-mobile= f.number_field :zip, label: 'ZIP Code'
        .field.form-mobile
          = f.text_area :question_1, label: 'What is the main reason you are interested in solar panels for your home? (e.g. power savings, environmental benefits)'
        .field.item-form.form-mobile
          = f.text_area :question_2, label: 'What sort of installation do you want? (e.g. rooftop only, ground level)'

        %p Thank you for your interest! A representative will be in touch as soon as possible.
        = button_tag(:class => "btn btn-success btn-big") do
          %i.glyphicon.glyphicon-ok
          Submit