/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "rails_bootstrap_forms"

.row
  padding-top: 20px

.container
  max-width: 400px
  display: block
  margin: auto
  width: 50%
  padding: 10px

.alert-success
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left
  max-width: 500px
  display: block
  margin: auto
  width: 50%
  padding: 10px
  margin-top: 30px